<h2 class="page-header">Download</h2>

<p>Plik: {{fileName}} jest gotowy do pobrania.</p>
{{#if timeleft}}
      {{#each timeleft}}
        <p>Plik: {{fileName}} jest gotowy do pobrania.</p>
      {{/each}}
{{/if}}
<p>Kliknij poniżej aby go pobrać.</p>
<form action="download-file-local" method="get"><button type="submit" class="btn btn-primary btn-lg btn-block ">Pobierz</button></form>