<h2 class="page-header">Panel użytkownika</h2>
<p>Witaj w swoim panelu {{title}}</p>
<form action="download-file-local" method="get"><button type="submit" class="btn btn-primary btn-lg btn-block ">Pobierz</button></form>