<h2 class="page-header">Download</h2>

{{#if emptyBucket}}

<h4>Pusto tutaj! Załaduj obrazki za pomocą panelu upload.</h4>


{{else}}

<form action="download-file-s3" method="get">
  <table class="table table-striped ">
    <thead>
      <tr>
        
        <th>Nazwa pliku</th>
        <th>Wybierz</th>

      </tr>
    </thead>
    <tbody>
      {{#each list}}
      <tr>
        <td>{{this}}</td>
        <td>
          <input type="radio" name="file" value={{this}}>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary btn-lg btn-block ">Pobierz</button>
</form>

{{/if}}