<h2 class="page-header">Logowanie</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Login</label>
    <input type="text" class="form-control" name="username" placeholder="Login">
  </div>
  <div class="form-group">
    <label>Hasło</label>
    <input type="password" class="form-control" name="password" placeholder="Hasło">
  </div>
  <button type="submit" class="btn btn-default">OK</button>
</form>