<h2 class="page-header">Upload</h2>
<p>Załaduj plik...</p>

<form ref='uploadForm' 
      id='uploadForm' 
      action='/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
</form> 